.homebox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: auto 0;
    justify-content: center;
    overflow: hidden;
}

.intro {
    background-color: white;
    box-sizing: border-box;
    width: 70%;
    text-align: center;
    padding: 5rem 2rem;
    cursor: default;

}

.Typist {
    color: var(--black);
    text-align: center;
    font-size: 76px;
    /* margin-top: 0px; */
    margin-bottom: 30px;
  }
  .Typist .Cursor--blinking {
    color: var(--black);
    padding-left: 4px;
  }

  .intro-title {
    font-family: "NTR", sans-serif;
    font-size: 70px;
  }
  .intro-name {
    font-family: "NTR", sans-serif;
    color: var(--black);
    font-weight: bold;
    font-size: 70px;
  }

  .intro-subtitle {
    /* margin-top: -36px; */
    font-family: "NTR", sans-serif;
    color: var(--black);
    font-weight: 300;
    font-size: 48px;
  }
  
  .intro-desc {
    color: var(black);
    font-family: "NTR", sans-serif;
    font-size: 22px;
    /* max-width: 40%; */
    /* margin: 104vh, 123px; */
    padding: 0px 10%;
    text-align: center;
    justify-content: center;

    /* text-align: justify; */
    /* padding-bottom: 50px; */
  }

  
@media screen and (max-width: 600px) {

    .intro {
        width: 90%;
        font-size: .9rem;
        background-color: white;
        box-sizing: border-box;
        text-align: center;
        padding: 15rem 2rem;
        cursor: default;
        justify-content: center;
    }
        
    .Typist {
      color: var(--black);
      text-align: center;
      font-size: 2rem;
      margin-bottom: 30px;
    }

    .intro-title {
      font-family: "NTR", sans-serif;
      font-size: 2rem;
    }
    .intro-name {
      font-family: "NTR", sans-serif;
      color: var(--black);
      font-weight: bold;
      font-size: 2rem;
    }

    .intro-subtitle {
      font-family: "NTR", sans-serif;
      color: var(--black);
      font-weight: 300;
      font-size: 1.5rem;
    }

    .intro-desc {
      color: var(black);
      font-family: "NTR", sans-serif;
      font-size: 1rem;
      padding: 0px 2%;
      text-align: center;
      justify-content: center;
    }

}