.sectionContainer {
    display: flex;
    flex-direction: column;
    overflow: none;
    background-color: white;
    padding: 10rem 0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projectBox {
    display: flex;
    /* background-image: url(../media/sortingAlgo.PNG); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    margin: 20px 0px;
    height: 15rem;
    width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.projectBox .button {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    padding: 10px;
    transition: all .2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 50%; */
    /* height: 40%; */
    font-size: 100%;
    font-size: larger;
    font-weight: bolder;
    margin: 0px 4rem;
    /* opacity: 70%; */

}

.projectBox .button:hover {
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
}

.projectBox .button:focus {
    outline: none;
}

.projectBox>img {
    width: 100%;
    height: 15rem;
}

@media screen and (max-width: 550px) {
    .projectBox {
        display: flex;
        background-color: black;
        margin: 20px 0px;
        height: 10rem;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}