:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--black);
}

a:hover {
  color: var(--black);
}

a:active {
  color: var(--black);
}